header{
  background: url(../images/code-pic.jpg);
  background-size: cover;
  background-position: center;
  min-height: 1000px;
}

.grow { 
  transition: all .2s ease-in-out; 
}

.grow:hover { 
  transform: scale(1.1); 
}






@media screen and (max-width: 670px){
  header{
    min-height: 500px;
  }
}

