body {
  font-family: "Special Elite", cursive;
}
header {
  background: url(../images/code-pic.jpg);
  background-size: cover;
  background-position: center;
  min-height: 335px;
}
h3 {
  margin-bottom: 0;
}
.profile-pic {
  width: 250px;
  height: 250px;
  margin: auto;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.5);
}

.parallax {
  /* The image used */
  background-image: url(../images/code-pic.jpg);

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.proj-card-img {
  width: 100%;
}

/* Single-direction drop shadow */
hr.style-four {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#img-head {
  margin: auto;
}

/* media queries */

@media screen and (max-width: 1000px) {
  .grow {
    transition: all 0.2s ease-in-out;
  }
  .grow:hover {
    transform: scale(0);
  }
  .nav-item {
    margin-left: 0;
  }
  .text-break {
    margin: 0 auto;
  }
  .profile-pic {
    margin: auto;
  }
}
@media screen and (max-width: 990px) {
  .grow:hover {
    transform: scale(1);
  }
}

@media screen and (max-width: 670px) {
  header {
    min-height: 200px;
  }
  .profile-pic {
    width: 200px;
    height: 200px;
    margin: auto;
  }
  #img-head {
    width: 150px;
    height: 200px;
  }
}
