header{
  background: url(../images/code-pic.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

.grow { 
  transition: all .2s ease-in-out; 
}

.grow:hover { 
  transform: scale(1.5); 
}

.parallax { 
  /* The image used */
  background-image: url(../images/code-pic.jpg);

  /* Set a specific height */
  height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





@media screen and (max-width: 670px){
  header{
    min-height: 200px;
  }
}

